@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
/* General Style */
body {
  font-family: 'Ubuntu', sans-serif;
  background-color:  #212529;
  overflow-x: hidden;
  margin: 0;
  font-size: 16px;
  word-break: break-word;
  font-weight: 400;
  color: #F8F9FA;
}
.container {
  max-width: 1246px;
}
p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  letter-spacing: 0.32px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: inherit;
  font-weight: inherit;
  word-break: break-word;
  color: #F8F9FA;;
  line-height: 1.2;
}
h1 {
  font-size: 42px;
  margin-bottom: 12px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
span, a {
  display: inline-block;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none;
}
select {
  background-image: url("../img/down-icons.svg");
  background-repeat: no-repeat;
  background-position: right 26px center;
  -webkit-appearance: none;
}
input,textarea,select {
  width: 100%;
  border: none;
  outline: none;
  background-color:  #323232;
  border-radius: 10px;
  height: 50px;
  padding: 11px 22px;
}
::placeholder,
input,textarea,select{
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #9E9FA0;
}
label {
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.field-wrap {
  margin-bottom: 27px;
}
.field-wrap textarea {
  height: 181px;
  resize: none;
}
.submit .btn {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.section-padding{
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-margin{
  margin-top: 80px;
  margin-bottom: 80px;
}
.sec-title {
  margin-bottom: 48px;
}
.btn {
  background: linear-gradient(180deg, #FD1C60 7.81%, #FC8958 100%);
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 30px;
  transition: 0.3s;
}
.btn:hover{
  background: linear-gradient(180deg, #FD1C60 30%, #FC8958 100%);
  color: #FFFFFF;
  transition: 0.3s;
}
.title {
  margin-bottom: 42px;
}
.title.d-flex {
  justify-content: space-between;
  align-items: center;
}
.all{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  text-transform: uppercase;
}
.all:hover{
  color: #FE5F3F;
}
/* Header */
.header {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 15px 0;
  transition: 0.2s ease;
}
.header.sticky {
  transition: 0.2s ease;
  position: fixed;
  background-color: #080808;
  padding: 10px 0;
  box-shadow: 1px 1px 10px 2px #212529;
}
.header.sticky .logo img {
  max-width: 63px;
}
.header .row {
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.logo {
  display: flex;
}
.nav-menu .navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.navbar-list .nav-item a{
  position: relative;
}
.navbar-list .nav-item a:hover{
  color: #FE5F3F;
}
.navbar-list .nav-item.active a{
  color: #FE5F3F;
  font-weight: 700;
}
.navbar-list .nav-item a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FE5F3F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar-list .nav-item a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.toggle {
  width: 28px;
  height: 30px;
  margin: 10px auto;
  display: none;
}
.toggle div {
  width: 100%;
  height: 3px;
  background: #FE5F3F;
  margin: 6px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle.on .two {
  opacity: 0;
}
.toggle.on .three {
  transform: rotate(-45deg) translate(8px, -8px);
}
.header.bg {
  background-color: #080808;
}
/* Banner */
.banner {
  position: relative;
  padding-top: 217px;
  padding-bottom: 96px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner p {
  font-size: 18px;
  line-height: 28px;
  color: #CED4DA;
  max-width: 451px;
  margin: 0 auto;
}
.banner.home {
  background-image: url(../img/home-banner.png);
  min-height: 780px;
  padding-top: 284px;
}
.banner.home h1{
  font-size: 48px;
  line-height: 56px;
}
.banner.home p{
  font-size: 21px;
  line-height: 32px;
  max-width: 526px;
}
.banner.inner-banner {
  background-image: url(../img/inner-banner.png);
}

/* Two Column */
.two-column .row {
  align-items: center;
}
.two-column h2 {
  padding-bottom: 32px;
}
.two-column p{
  padding-bottom: 50px;
  max-width: 496px;
  letter-spacing: 0.32px;
  color: #F8F9FA;
}
.two-column p:last-child{
  padding-bottom: 0;
}
.about {
  background-color: #1F2024;
  overflow: hidden
}
.about .image-column {
  position: relative;
  width: 49vw;
  height: 100%;
  z-index: 1;
}
.about .image-column img {
  width: 100%;
}
/* download */
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 24px;
}
/* Artist Items */
.our-artist {
  overflow: hidden;
}
.artist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -41px;
  margin-right: -41px;
}
.artist-item {
  cursor: pointer;
  text-align: center;
  padding-left: 41px;
  padding-right: 41px;
  margin-bottom: 52px;
}
.artist-item h6 {
  padding: 10px 0;
  color: #A3A4A5;
}
.artist-item:hover h6{
  color: #FE5F3F;
}
.artist-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #FFFFFF90;
}
.artist-item .artist-image {
  width: 172px;
  transition: .2s linear;
}
.artist-item .artist-image img {
  width: 100%;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.artist-item:hover .artist-image {
  transition: .2s linear;
  transform: translateY(-5px);
}
.artist-items.home{
  margin-left: -30px;
  margin-right: -30px;
}
.artist-items.home .artist-item{
  padding-left: 30px;
  padding-right: 30px;
}
/* best */
.best {
  text-align: center;
  background-color: #0D0E11;
}
.best .sec-title {
  max-width: 684px;
  margin: 0 auto 64px auto;
}
.best .sec-title p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.32px;
  color: #A3A4A5;
  padding-top: 32px;
}
.best ul#counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 722px;
  margin: 0 auto;
}
.best .count-wrap {
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.15px;
  color: #FF0039;
}
/* download-section */
.download-section .content-column h2 {
  text-align: center;
  padding-bottom: 8px;
  font-size: 28px;
  line-height: 26px;
  color: #F8F9FA;
}
.download-section .container .row {
  position: relative;
}
.download-section .container .row:before,
.download-section .container .row:after {
  content: '';
  width: 50%;
  height: 1px;
  background-color: #495057;
  position: absolute;
  left: 15px;
}
.download-section .container .row:before{
  top: 0;
}
.download-section .container .row:after{
  bottom: 0;
}
/* music-links */
.links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 34px;
}
.links-list .btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 8px;
  width: 222px;
  justify-content: space-between;
  height: 40px;
}
.links-list .btn span {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* About Page */
.about-cards .aboutCards-wrap {
  column-count: 2;
}
.about-cards .aboutCard {
  margin-bottom: 112px;
  break-inside: avoid;
}
.aboutCard img{
  width: 100%;
}
.aboutCard h3 {
  font-size: 21px;
  padding: 24px 0 10px;
}
.aboutCard p {
  color: #9E9FA0;
  line-height: 1.5;
}
.about-cards .sec-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.about-cards .sec-title h2,.about-cards .sec-title p {
  width: 50%;
}
.about-cards .aboutCards-wrap,
.about-cards .sec-title{
  gap: 136px;
  column-gap: 136px;
}
.aboutCard.space{
  padding-top: 35px;
}
/* Contact Page */
.contact {
  padding: 70px 0 110px;
  margin-top: 120px;
  background-image: url(../img/contact-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact .sec-title {
  padding-top: 28px;
  margin-bottom: 136px;
}
.contact .sec-title p {
  max-width: 451px;
}
.contact .details .item {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
  max-width: 280px;
}
.contact .details .item .icon {
  min-width: 40px;
}
.contact .details .item .info h3 {
  font-weight: 700;
  margin-bottom: 8px;
}
.contact .details .item .info a {
  font-size: 18px;
  line-height: 24px;
  color: #9E9FA0;
}
.contact .details .item .info a:hover{
  color: #FE5F3F;
}
.contact-form {
  background-color: #1F2024;
  padding: 36px 27px;
  border-radius: 15px;
  max-width: 498px;
  margin-left: auto;
}
/* Artist-Page */
.artist {
  padding: 167px 0 40px;
  background-image: url(../img/artist-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.artist .sec-title p {
  font-size: 18px;
  line-height: 28px;
  max-width: 451px;
  margin: 0 auto 12px auto;
  color: #CED4DA;
}
.artist .sec-title {
  max-width: 515px;
  margin: 0 auto;
}
.search-input{
  position: relative;
}
.search-input:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/search-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-input input {
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  height: 40px;
  padding: 12px 40px;
}
.search-input input,
.search-input input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.release-songs .release {
  margin: 0 auto;
  max-width: max-content;
  padding: 111px 0 40px;
}
.release-songs .release h6 {
  padding: 0 12px 12px 12px;
  border-bottom: 2px solid #FE5F3F;
}
.release-songs .song-item a {
  width: 100%;
}
.release-songs .song-items {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
}
.release-songs .song-items .song-item .image {
  background-color: #212529;
  border-radius: 2px;
  padding: 56.5px;
}
.release-songs .song-items .song-item .image img {
  max-width: 63px;
  margin: 0 auto;
}
.release-songs .song-items .song-item .song-title {
  margin: 12px auto 20px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  max-width: max-content;
  position: relative;
}
.release-songs .song-items .song-item .song-title:before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: -20px;
  transform: translateY(2px);  
  background-image: url(../img/Plays.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* DataTable */
.songs-list .dataTables_filter {
  position: relative;
  max-width: 242px;
  margin-left: auto;
}
.songs-list .dataTables_filter label{
  margin: 0;
  width: 100%;
}
.songs-list .dataTables_filter label input {
  margin: 0 !important;
  display: inline-block;
  width: 100% !important;
  padding-left: 40px;
  background: #121212;
  border: 1px solid rgba(255, 255, 255, 0.12);
  height: 40px;
  border-radius: 10px;
  box-shadow: none;
}
.songs-list .dataTables_filter label input,
.songs-list .dataTables_filter label input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF90;
}
.songs-list .dataTables_filter:before {
  position: absolute;
  content: "";
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.songs-list-wrap .songs-list tr td.dataTables_empty {
  min-width: 100% !important;
  justify-content: center;
  color: #FFF;
  text-transform: capitalize;
}
.songs-list-wrap .songs-list-wrap .dataTables_info {
  padding-top: 11px;
  font-size: 14px;
}
.songs-list .dataTables_length label {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 0 !important;
}
.songs-list .dataTables_length label .custom-select {
  background-color: #252525;
  color: #FFFFFF;
  box-shadow: none;
  border-color: #FE5F3F;
  font-size: 12px;
}

/* Search Result */
.artist.search-result {
  background-image: none;
  padding-bottom: 50px;
}

/* Term and Condition */
.content-section .container {
  max-width: 760px;
    margin: 0 auto;
    padding: 16px 20px;
}
.content-section .content-wrap {
  margin-bottom: 48px;
}
.content-section .content-wrap h1,
.content-section .content-wrap h2,
.content-section .content-wrap h3,
.content-section .content-wrap h4,
.content-section .content-wrap h5,
.content-section .content-wrap h6,
.content-section .content-wrap p{
  padding-bottom: 24px;
}
.content-section .content-wrap p,
.content-section .content-wrap ul li,
.content-section .content-wrap a{
  font-size: 18px;
  line-height: 28px;
  color: #9E9FA0;
}
.content-section .content-wrap a{
  text-decoration: underline;
}
.content-section .content-wrap a:hover{
  color: #FE5F3F;
}
.content-section .content-wrap ul {
  padding-left: 20px;
}
.content-section .content-wrap ul li{
  list-style: auto;
  margin-bottom: 16px;
}
/* Artist Details */
.songs-detail {
  position: relative;
  background-image: url(../img/details-bg.png);
  background-position: top 120px center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.songs-detail .container {
  position: relative;
}
.songs-detail:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.profile-info {
  position: relative;
  display: flex;
  gap: 18px;
  max-width: 880px;
  padding: 185px 0 50px;
}
.profile-info .user-image {
  min-width: 156px;
  max-width: 156px;
  height: 156px;
}
.profile-info .user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile-info .user-info ul {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 18px;
  color: #FE5F3F;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.profile-info .user-info ul li span {
  padding: 0 2px;
}
.profile-info .user-info ul li:last-child span{
  display: none;
}
.profile-info .user-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255 255 255 / 87%);
}
.profile-info .dropdownWrap {
  position: absolute;
  right: 0;
}
/* songs-list-wrap */
.songs-list-wrap {
  padding-bottom: 46px;
}
.songs-list-wrap .sec-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}
.songs-list-wrap .songs-list tr {
  display: flex;
}
.songs-list-wrap .songs-list tr:first-child {
  display: flex;
}
.songs-list-wrap .songs-list th {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #9E9FA0;
  border: none;
  padding: 0 0 4px 0 !important;
}
.songs-list-wrap .songs-list table {
  width: 100%;
  margin-top: 21px !important;
}
.songs-list-wrap .songs-list .player-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.songs-list-wrap .songs-list .player-wrap .timeline {
  max-width: 205px;
}
.songs-list-wrap .songs-list .player-wrap .title {
  margin-bottom: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.songs-list-wrap .songs-list tr {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgb(255 255 255 / 87%);
}
.songs-list-wrap .songs-list tr th,
.songs-list-wrap .songs-list tr td{
  display: flex;
  align-items: center;
  border-color: #495057;
}
.songs-list-wrap .songs-list tr td{
  padding: 16px 0;
}
.songs-list-wrap .songs-list tr th:first-child, 
.songs-list-wrap .songs-list tr td:first-child {
  width: 55% !important;
}
.songs-list-wrap .songs-list tr th:nth-child(2), 
.songs-list-wrap .songs-list tr td:nth-child(2){
  width: 35% !important;
}
.songs-list-wrap .songs-list tr th:last-child, 
.songs-list-wrap .songs-list tr td:last-child {
  width: 10% !important;
}
.songs-list-wrap .songs-list  tbody tr:first-child td{
  border-top: none;
}
/* Pagination */
.songs-list-wrap .dataTables_paginate .pagination {
  border-radius: 0;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button .page-link {
  padding: 10px 20px;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-shadow: none;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next {
  background-color: #fe5f3f;
  border-radius: 3px;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous a, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next a {
  font-size: 30px;
  line-height: 20px;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous.disabled, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next.disabled, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous:hover, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next:hover {
  background-color: #eff3fa;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous.disabled a, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next.disabled a, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous:hover a, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next:hover a {
  color: #082a5c90;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.active a {
  color: #fe5f3f;
}
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous a, 
.songs-list-wrap .dataTables_paginate .pagination .paginate_button.next a{
  display: flex;
  align-items: center;
}
/* photos */
.photosWrap .photoitem img {
  width: 100%;
  height: 168px;
  object-fit: cover;
  border-radius: 4px;
}
.photoitem a {
  width: 100%;
}
/* videos */
.videosWrap .cardItems-wrap .cardItem {
  position: relative;
  border-radius: 4px;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content {
  position: relative;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content img {
  width: 100%;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content video {
  width: 100%;
  border-radius: 4px;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content a[data-fancybox] {
  position: relative;
  z-index: 1;
  background-color: transparent;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .video-control {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .video-control .play-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
@media (max-width: 1199px) {
  .videosWrap .cardItems-wrap .cardItem .cardItem-content .video-control .play-btn {
    width: 40px;
    height: 40px;
 }
}
@media (max-width: 1199px) {
  .videosWrap .cardItems-wrap .cardItem .cardItem-content .video-control .play-btn img {
    width: 12px;
 }
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .video-control .meta {
  position: absolute;
  z-index: 1;
  bottom: 12px;
  right: 10px;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 4px;
  padding: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .video-control a img {
  width: auto;
  height: auto;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details {
  padding: 10px 0;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details .title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 8px;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details .title h6 {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details .title span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details .content {
  display: flex;
  gap: 18px;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details .content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.videosWrap .cardItems-wrap .cardItem .cardItem-content .product-details .content a {
  min-width: 10px;
}
/* merchandise */
.merchandise .row {
  margin-right: -27px;
  margin-left: -27px;
}
.merchandise .column {
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 48px;
}
.merchandise .Item .product-image {
  width: 100%;
  border-radius: 4px;
}
.merchandise .Item .item-details {
  margin-top: 12px;
}
.merchandise .Item .item-details .title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 8px;
}
.merchandise .Item .item-details .title h6, .merchandise .Item .item-details .title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.merchandise .Item .item-details .title span {
  font-weight: 500;
  color: #FE5F3F;
}
.merchandise .Item .item-details .content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #9E9FA0;
}
.merchandise .Item .item-details .content {
  display: flex;
  gap: 18px;
}
.merchandise .Item .item-details .content a {
  width: 22px;
}
/* Slider-Arrows */
.swiper-button-next, 
.swiper-button-prev {
  width: 98px;
  height: calc(100% - 5px);
  top: 22px;
}
.swiper-button-next {
  right: 0;
  background: linear-gradient(90deg, rgba(18, 18, 18, 0.0001) 0%, #121212 100%);
}
.swiper-button-prev {
  left: 0;
  background: linear-gradient(270deg, rgba(18, 18, 18, 0.0001) 0%, #121212 100%);
}
.swiper-button-prev img {
  transform: rotate(180deg);
}
.swiper-button-next::after, 
.swiper-button-prev::after,
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  display: none;
}
.fancybox-thumbs__list a {
  border-radius: 4px;
}
.fancybox-thumbs__list a:before {
  border: 3px solid #FE5F3F;
}
/* All Items Pages */
.all-items .item {
  margin-bottom: 30px;
}
.all-items .item a {
  width: 100%;
  height: 100%;
}
.all-items .item a img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
/* adds */
.add-area a{
  width: 100%;
  height: 100%;
}
.our-artist .add-area img {
  margin-left: auto;
}
.add-area.long {
  max-width: 1000px;
  margin: 0 auto;
}
.songs-list-wrap .add-area img {
  margin-left: auto;
}
.merchandise .add-area img {
  margin-left: auto;
}
/* Footer */
.footer {
  background-color: #0D0E11;
  padding: 48px 0;
}
.footer-top .footer-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 37px;
  margin-bottom: 33px;
  border-bottom: 1px solid #323232;
}
.footer-top .social-media {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer,.footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #9E9FA0;
}
.social-media a{
  filter: brightness(0) saturate(100%) invert(70%) sepia(6%) saturate(61%) hue-rotate(169deg) brightness(92%) contrast(85%);
}
.social-media a:hover{
  filter: brightness(0) saturate(100%) invert(49%) sepia(21%) saturate(4929%) hue-rotate(335deg) brightness(100%) contrast(99%);
}
.footer a:hover {
  color: #FE5F3F;
}
.footer-menu a {
  color: #FFFFFF;
}
/* Nice select Start*/
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #FE5F3F;
  border-radius: 7px;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  height: 44px;
  font-weight: 500;
  outline: none;
  padding-left: 13px;
  padding-right: 43px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    user-select: none;
  white-space: nowrap;
  width: auto; 
  color: #F8F9FA;
  min-width: 224px;
}
.nice-select:hover {
  border-color: #D0D5DD; 
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #D0D5DD; 
}
.nice-select:after {
  content: '';
  width: 20px;
  height: 20px;
  pointer-events: none;
  position: absolute;
  right: 13px;
  background-image: url(../img/select-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease;
}
.nice-select.open:after {
  transition: 0.3s ease;
  -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); 
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0); 
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none; }
  .nice-select.disabled:after {
  border-color: #cccccc; }
.nice-select.wide {
  width: 100%; }
  .nice-select.wide .list {
  left: 0 !important;
  right: 0 !important; }
.nice-select.right {
  float: right; }
  .nice-select.right .list {
  left: auto;
  right: 0; }
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; 
}
.nice-select.small:after {
  height: 4px;
  width: 4px; 
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px; 
}
.nice-select .list {
  background-color: #252525;
  border-radius: 7px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 12px;
  opacity: 0;
  overflow: hidden;
  padding: 3px 8px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9; 
}
  .nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important; 
}
.nice-select .option {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 46px;
  outline: none;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; 
  color: #F8F9FA;
  background-image: url("../img/angle-arrowIcon.svg");
  background-repeat: no-repeat;
  background-position: right 7px center;
  padding-left: 30px;
}
  .nice-select .option.selected {
  font-weight: 500; 
}
  .nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default; 
  display: none;
}
.no-csspointerevents .nice-select .list {
  display: none; 
}
.no-csspointerevents .nice-select.open .list {
  display: block; 
}
.nice-select .option:not(:last-child){
  border-bottom: 1px solid #495057;
}
.nice-select .option:before{
  content: '';
  position: absolute;
  width: 24px;
  height: 100%;
  left: 0;
  background-size: 100%;
  background-position: left center;
  background-repeat: no-repeat;
}
.nice-select .option:nth-child(2)::before{
  background-image: url("../img/lucky-icon.svg");
}
.nice-select .option:nth-child(3)::before{
  background-image: url("../img/fair-icon.svg");
}
.nice-select .option:nth-child(4)::before{
  background-image: url("../img/click.svg");
  width: 32px;
}
.nice-select .option:nth-child(4){
  padding-left: 40px;
}
/* Nice select End*/


/* =============== */
/* Responsiveness */
/* =============== */

@media(max-width:1300px){
  .banner.home {
    min-height: auto;
    padding-top: 250px;
  }
}
@media(max-width:1260px){
  .container {
    max-width: 95%;
  }
  .header .logo img {
    max-width: 70px;
  }
  .section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media(max-width:1199px){
  .banner.home h1,
  h1{
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 13px;
  }
  body, p{
    font-size: 15px;
  }
  .banner.home {
    padding-top: 220px;
  }
  .banner.home p {
    font-size: 18px;
    line-height: 28px;
    max-width: 500px;
  }
  .banner {
    padding-top: 180px;
    padding-bottom: 70px;
  }
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .two-column h2 {
    padding-bottom: 20px;
  }
  .two-column p {
    padding-bottom: 20px;
    max-width: 100%;
  }
  .artist-item .artist-image {
    max-width: 160px;
  }
  .artist-item .artist-image img {
    height: 160px;
  }
  .title, .sec-title {
    margin-bottom: 30px;
  }
  .best .sec-title p {
    padding-top: 15px;
  }
  .best .sec-title {
    max-width: 600px;
    margin: 0 auto 40px auto;
  }
  .best .count-wrap {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1;
  }
  .links-list {
    gap: 20px;
    margin-bottom: 10px;
  }
  .download-section .content-column h2 {
    padding-bottom: 0;
    font-size: 26px;
    line-height: 1.2;
  }
  .footer {
    padding: 40px 0;
  }
  .footer-top {
    padding-bottom: 30px;
    margin-bottom: 25px;
  }
  .artist {
    padding: 130px 0 30px;
  }
  .release-songs .release {
    padding: 80px 0 30px;
  }
  .artist .sec-title p {
    font-size: 16px;
    line-height: 26px;
  }
  .release-songs .song-items .song-item .image {
    padding: 45px;
  }
  .about-cards .aboutCards-wrap, .about-cards .sec-title {
    gap: 100px;
    column-gap: 100px;
  }
  .about-cards .aboutCard {
    margin-bottom: 70px;
  }
  .aboutCard h3 {
    font-size: 18px;
    padding: 18px 0 8px;
  }
  .contact {
    padding: 50px 0 80px;
    margin-top: 100px;
  }
  .contact .sec-title {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .contact-form {
    padding: 30px 20px;
    border-radius: 12px;
    max-width: 498px;
  }
  .profile-info {
    padding: 165px 0 40px;
  }
  .songs-detail {
    background-position: top 100px center;
  }
  .songs-list-wrap {
    padding-bottom: 30px;
  }
  .merchandise .column {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .merchandise .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .photosWrap .photoitem img {
    height: 130px;
  }
}
@media(max-width:991px){
  .banner.home h1, h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5, body, p{
    font-size: 14px;
  }
  .download-section .content-column h2 {
    font-size: 22px;
  }
  .banner.home {
    padding-top: 170px;
  }
  .banner {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .banner.home p {
    font-size: 16px;
    line-height: 26px;
    max-width: 400px;
  }
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title, .sec-title {
    margin-bottom: 20px;
  }
  .download {
    gap: 10px;
    margin-top: 20px;
  }
  .download img {
    max-width: 120px;
  }
  .links-list .btn {
    width: 200px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-top {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .footer-top .footer-menu {
    gap: 20px;
  }
  .best .sec-title {
    margin: 0 auto 30px auto;
  } 
  .best ul#counter {
    max-width: 450px;
  }
  .best .count-wrap {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1;
  }
  .nav-menu .navbar-list {
    gap: 30px;
  }
  .release-songs .song-items {
    gap: 20px;
  }
  .release-songs .song-items .song-item .image {
    padding: 30px;
  }
  .about-cards .aboutCards-wrap, .about-cards .sec-title {
    gap: 70px;
    column-gap: 70px;
  }
  .about-cards .aboutCard {
    margin-bottom: 50px;
  }
  .aboutCard h3 {
    font-size: 17px;
    padding: 12px 0 5px;
  }
  .contact-form {
    padding: 20px 10px;
    border-radius: 12px;
  }
  .field-wrap textarea {
    height: 120px;
  }
  .btn {
    font-size: 16px;
    line-height: 30px;
    padding: 7px 20px;
  }
  .content-section .content-wrap p, .content-section .content-wrap ul li, .content-section .content-wrap a {
    font-size: 16px;
    line-height: 26px;
  }
  .content-section .content-wrap h1, .content-section .content-wrap h2, .content-section .content-wrap h3, .content-section .content-wrap h4, .content-section .content-wrap h5, .content-section .content-wrap h6, .content-section .content-wrap p {
    padding-bottom: 15px;
  }
  .content-section .content-wrap {
    margin-bottom: 15px;
  }  
  .profile-info .user-image {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
  }
  .profile-info .user-info p {
    font-size: 14px;
    line-height: 22px;
  }
  .profile-info .user-info ul {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
  }
  .profile-info {
    padding: 150px 0 30px;
  }
  .nice-select {
    font-size: 15px;
    height: 40px;
    padding-left: 13px;
    min-width: 220px;
  }
  .artist-item .artist-image {
    max-width: 140px;
  }
  .artist-item .artist-image img {
    height: 140px;
  }
  .artist-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .artist-items {
    margin-left: -20px;
    margin-right: -20px;
  }
  .songs-list-wrap .songs-list tr td {
    padding: 10px 0;
  }
  .songs-list-wrap .dataTables_paginate .pagination .paginate_button .page-link {
    padding: 6px 15px;
  }
  .songs-list-wrap .dataTables_paginate .pagination .paginate_button.previous a, 
  .songs-list-wrap .dataTables_paginate .pagination .paginate_button.next a{
    font-size: 20px;
  }
}
@media(max-width:767px){
  /* Header */
  .nav-menu .navbar-list {
    display: none;
    position: absolute;
    z-index: 9;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 15px;
    background-color: #FE5F3F;
    padding: 10px;
    border-radius: 10px;
  }
  .toggle {
    display: block;
  }
  .navbar-list .nav-item a:after{
    display: none;
  }
  .navbar-list .nav-item.active a {
    color: #FFFFFF;
  }
  .nav-menu .navbar-list .nav-item:not(last-child) {
    margin-bottom: 12px;
  }
  .header.sticky .logo img,
  .header .logo img {
    max-width: 55px;
  }
  .navbar-list .nav-item a:hover {
    color: #FFFFFF;
  }
  /* Header End*/
  .section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .two-column .row {
    gap: 25px;
  }
  .about .image-column,
  .two-column .image-column img {
      width: 100%;
  }
  .banner.home p {
    font-size: 15px;
    line-height: 25px;
  }
  .banner.home {
    padding-top: 140px;
  }
  .banner {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .download-section .container .row:before, 
  .download-section .container .row:after {
    display: none;
  }
  .download-section {
    padding-top: 30px;
  }
  .download-section .content-column h2 {
    font-size: 20px;
  }
  .music-links .links-list {
    flex-direction: column;
  }
  .music-links {
    text-align: center;
  }
  .best .count-wrap {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .footer-bottom,
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer, .footer p {
    font-size: 12px;
    line-height: 16px;
  }
  .footer {
    padding: 20px 0;
  }
  .about-cards .sec-title {
    gap: 20px;
    flex-direction: column;
  }
  .about-cards .sec-title h2, .about-cards .sec-title p {
    width: 100%;
  }
  .about-cards .sec-title {
    margin-bottom: 25px;
  }
  .about-cards .aboutCards-wrap {
    column-count: 1;
  }
  .about-cards .aboutCards-wrap{
    gap: 0;
    column-gap: 0;
  }
  .about-cards .aboutCard {
    margin-bottom: 30px;
  }
  .aboutCard.space {
    padding-top: 0;
  }
  .contact {
    padding: 30px 0 40px;
    margin-top: 70px;
  }
  .contact-form {
    margin-left: 0;
  }
  .contact .details .item .info a {
    font-size: 15px;
    line-height: 20px;
  }
  .contact .details .item {
    margin-bottom: 25px;
  }
  .contact-form {
    padding: 20px 5px;
    border-radius: 12px;
  }
  label {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  input, textarea, select {
    border-radius: 6px;
    height: 40px;
    padding: 11px 12px;
  }
  ::placeholder, input, textarea, select {
    font-size: 13px;
    line-height: 26px;
  }
  .content-section .container {
    padding: 0 15px;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 40px;
  }
  .swiper-button-next img, .swiper-button-prev img {
    width: 16px;
  }
  .profile-info {
    gap: 20px;
    padding: 130px 0 20px;
    flex-direction: column;
  }
  .songs-detail {
    background-position: top 90px center;
  }
  .songs-list-wrap .songs-list .player-wrap .timeline {
    max-width: 150px;
  }
  .songs-list-wrap {
    padding-bottom: 20px;
  }
  .songs-list-wrap .songs-list tr {
    font-size: 13px;
    line-height: 14px;
  }
  .our-artist .add-area img,
  .songs-list-wrap .add-area img,
  .merchandise .add-area img{
    margin-left: auto;
    margin-right: auto;
  }
  .add-area.mb-space {
    margin-bottom: 25px;
  }
  div#songslist-table_length {
    max-width: max-content;
    margin-left: auto;
    padding-bottom: 20px;
  }
  .dataTables_paginate {
    padding: 20px 0;
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
  }
}
@media(max-width:600px){
  .artist-item .artist-image {
    max-width: 110px;
  }
  .artist-item .artist-image img {
    height: 110px;
  }
}
@media(max-width:480px){
  .container {
    max-width: 100%;
  }
  .download img {
    max-width: 100px;
  }
  .artist-item h6 {
    padding: 5px 0;
  }
  .songs-list-wrap .sec-top {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .songs-list-wrap .songs-filters {
    width: 100%;
  }
  .songs-list-wrap .songs-list tr {
    font-size: 12px;
    line-height: 14px;
  }
  .songs-list-wrap .songs-list .player-wrap .timeline {
    max-width: 100px;
  }
  .songs-list-wrap .songs-list .player-wrap {
    gap: 5px;
    padding-right: 10px;
  }
  .songs-list-wrap .songs-list th {
    font-size: 9px;
  }
  .songs-list-wrap .songs-list tr th:first-child, .songs-list-wrap .songs-list tr td:first-child {
    width: 50% !important;
  }
  .songs-list-wrap .songs-list tr th:nth-child(2), .songs-list-wrap .songs-list tr td:nth-child(2) {
    width: 30% !important;
  }
  .songs-list-wrap .songs-list tr th:last-child, .songs-list-wrap .songs-list tr td:last-child {
    width: 20% !important;
  }
  .profile-info .dropdownWrap {
    position: static;
  }
  .dropdownWrap .field-wrap {
    margin-bottom: 0;
  }
  .nice-select .option {
    font-size: 13px;
  }
}